.tag-control-container {font-family: LucidaGrande; font-size: 11px; background: #FFF; padding: 3px; display: block; width: 300px; max-width: 300px; border: 1px solid darkgray;}
.tag-control-container.focus {border: 1px solid activeborder; outline: 2px auto -webkit-focus-ring-color;}
.tag-control-container input.tag-control-helper {border: 0; width: 100%; border-top: 1px #A4BDED solid;}
.tag-control-container input.tag-control-helper:focus {outline: none;}
.tag-control-container .tag-value span {background-color: #DEE7F8; -moz-border-radius: 9px; border-radius: 9px; padding: 0 1em 0 1em; border: 1px #A4BDED solid; line-height: 170%; word-wrap: break-word;}
.tag-control-container .tag-value span:hover {background-color: #BBCEF1; border-color: #6D95E0;}
.tag-control-container .tag-value span.focus {background-color: #598AEC; border-color: #598AEC; color: #FFF;}
