.tag-control-container {font-family: LucidaGrande; font-size: 11px; background: #FFF; padding: 3px; display: block; width: 300px; max-width: 300px; border: 1px solid darkgray;}
.tag-control-container.focus {border: 1px solid activeborder; outline: 2px auto -webkit-focus-ring-color;}
.tag-control-container input.tag-control-helper {border: 0; display: inline; margin: 0; padding: 0;}
.tag-control-container input.tag-control-helper:focus {outline: none;}
.tag-control-container .tag-value span {background-color: #DEE7F8; -moz-border-radius: 9px; border-radius: 9px; margin: 0 0.5em 0 0; padding: 0 10px 0 10px; border: 1px #A4BDED solid; line-height: 170%; word-wrap: break-word;}
.tag-control-container .tag-value span:hover {background-color: #BBCEF1; border-color: #6D95E0; cursor: default; padding: 0 15px 0 5px;}
.tag-control-container .tag-value span.focus {background-color: #598AEC; border-color: #598AEC; color: #FFF;}
.tag-control-container .tag-value span .delete {display: none; margin-left: 4px; margin-right: -13px;}
.tag-control-container .tag-value span:hover .delete {display: inline;}
.tag-control-container .tag-value span:hover .delete:hover {cursor: pointer;}

.tag-control-container .tag-suggest {background-color: #FFF; width: 300px; margin-top: 5px; padding: 0; position: absolute; display: none; z-index: 999;}
.tag-control-container .tag-suggest li {list-style: none; margin-left: -30px; margin-right: 5px; padding: 0;}
.tag-control-container .tag-suggest li:hover {background-color: #BBCEF1; cursor: pointer;}
